# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (uncomment if using go modules)
# vendor/

# Go workspace file
go.work

# Build directory
bin/
go-api/bin/

# Server binary
go-api/server

# Test files

# Environment files
.env

# IDE files
.vscode/
.idea/

source_OrcaSlicer

# OS files
.DS_Store
Thumbs.db
