# Node
node_modules/
**/node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Mac / IDEs
.DS_Store
.vscode/
.idea/

# Build artifacts
build/
**/build/
dist/
**/dist/

# Project-specific
OrcaSlicer/build/
OrcaSlicerCli/build/
output_files/
# comparable_files/*.gcode
# example_files/*.3mf
# example_files/*.stl

# Archives
*.tgz
*.tar.gz

# Misc
*.swp
*.tmp

# Local backups
OrcaSlicer_local_backup_*/


build
build_failhard
build_failhard_linux
build-linux
Prebuilds
Using