<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value=""/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0"/>
    <metadata key="nozzle_volume_type" value="0"/>
    <metadata key="printer_model_id" value=""/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="10427.608398"/>
    <metadata key="weight" value="20.112974"/>
    <metadata key="first_layer_time" value=""/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="false"/>
    <metadata key="filament_maps" value="1"/>
    <object identify_id="309" name="Belt-05.stl_1" skipped="false" />
    <object identify_id="349" name="Belt-05.stl_3" skipped="false" />
    <object identify_id="369" name="Belt-05.stl_4" skipped="false" />
    <object identify_id="389" name="Belt-05.stl_5" skipped="false" />
    <object identify_id="409" name="Belt-05.stl_6" skipped="false" />
    <object identify_id="429" name="Belt-05.stl_7" skipped="false" />
    <object identify_id="728" name="Belt-05.stl_7" skipped="false" />
    <object identify_id="749" name="Belt-05.stl_7" skipped="false" />
    <object identify_id="770" name="Belt-05.stl_7" skipped="false" />
    <object identify_id="801" name="Belt-05.stl_6" skipped="false" />
    <object identify_id="853" name="Belt-05.stl_6" skipped="false" />
    <object identify_id="885" name="Belt-05.stl_6" skipped="false" />
    <filament id="1" tray_info_idx="" type="ABS" color="#000000" used_m="8.04" used_g="20.11" />
  </plate>
</config>
